<div class="container">
    <div class="mt-4">
      <h3>Table Product</h3>
  

            <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Loại</th>
                <th scope="col">thời gian tạo</th>
                <th scope="col">Sửa</th>
                <th scope="col">Xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.slug}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/admin/{{this._id}}/edit"><button class="btn btn-primary">Sửa</button></a></td>
                    <td><a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-product"><button class="btn btn-danger" >Xóa</button></a></td>
                </tr>
            {{else}}
            <tr>
              <td colspan="5">
                Không có sản phẩm nào. <a href="/admin/addproduct">Thêm sản phẩm mới</a
              </td>
            </tr>

            {{/each}}
        </tbody>
        </table>
</div>

</div>

<!--///////////////////////////// confirm delte ////////////////////////--->

<div class="modal" id="delete-product" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa sản phẩm khỏi hệ thống ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>
<!--//////////////////// End confirm delte ////////////////////////--->
<!--//////////////////// Delete hidden form ////////////////////// -->
<div>
    <form name="delete-product-form" method="POST"></form>
</div>
<!--//////////////////// Delete hiden form ////////////////////////-->

<script>
        document.addEventListener('DOMContentLoaded' , function(){
              var productId; // lay id 
              var deleteForm = document.forms['delete-product-form'];// xu ly lay form xoa
              var btnDeleteProduct = document.getElementById('btn-delete-product');

                  // khi dialog confirm show  
                        $('#delete-product').on('show.bs.modal', function (event) {
                          var button = $(event.relatedTarget); // Button that triggered the modal
                          productId  = button.data('id');
                          console.log(productId);// Extract info from data-* attributes
                        });

                  // xu ly su kien nut xoa, bản ghi này sẽ được đưa vào thùng rác .
                  
                      btnDeleteProduct.onclick = function(){ 
                        deleteForm.action = '/admin/' + productId + '?_method=DELETE';
                        deleteForm.submit();
                      }

                });

</script>